body {
  padding: 50px;
  font: 20px "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

#head {
    height:100%;
    border-bottom: 1px solid #C7C7C7;
}
#headtxt{
    display:inline;
    width:20%;
}
#equation {
    background-color:#ECFAFF;
    border-radius:16px;
    padding-top:8px;
    padding-bottom:8px;
    font-size:18px;
}

#git {
    display: inline;
    float: right;
    width:3.5%;
    height:3.5%;
}

#git:hover{
    opacity: 0.75;
    cursor: pointer;
}
#hist{
    width:35%;
    height:35%;
}
.oneOB {
    color: red;
}

.twoOB {
    color: green;
}

.err {
    color:red;
}

.threeOB{
    color: blue;
}
#num {
    font-weight:bold;
}
.form-group {
    background-color:#F0F0F0;
    border-radius:5px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:10px;
}

#search2{
    margin-top:10px;
}

#charts{
    max-width:50%;
    max-height:50%;
    margin:auto;
}

.textClass {
    margin-right:40px;
    margin-left:40px;
}
.input-box {
    border-radius:5px;
    width:250px;
    height:20px;
    border: 1px solid #ccc;
    margin-right:5px;
}

.submit {
    background-color: #008CBA;
    border-radius:10px;
    border:none;
    width:80px;
    height: 25px;
    color:white;
}

.submit:hover{
    background-color:#00A3D8;
    cursor:pointer;
}

.result {
    display:inline;
}

#title {
    border-bottom: 1px solid #C7C7C7;
}


.input-box:focus {
    border-color: #333;
}

label{
    font: 20px "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    margin-right:10px;
}
a {
  color: #00B7FF;
}
